/* Utilities */
:root {
  --mainPink: #ff00a8;
}

.btn {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  border: var(--mainPink) solid 2px;
  color: var(--mainPink);
  padding: 10px;
  font-size: 18px;
  background-color: white;
  margin: 20px;
  cursor: pointer;
}

.btn:hover {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  border: var(--mainPink) solid 2px;
  color: white;
  padding: 10px;
  font-size: 18px;
  background-color: var(--mainPink);
  margin: 20px;
}

body {
  margin: 0;
  background-color: rgb(212, 242, 252);
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  padding: 20px;
  overflow: hidden;
}

/* Game */
.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
  position: absolute;
}

p {
  display: block;
  color: var(--mainPink);
  font-family: sans-serif;
  font-size: 14px;
  /* margin: 10px 0px; */
  font-family: "Press Start 2P", cursive;
  /* padding-top: 10px; */
  text-align: center;
  line-height: 1.7rem;
}

/* Start Screen */

#menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 440px;
  height: 520px;
  background-color: #f9d5ff;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  padding: 40px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.363);
}

.images {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.images img {
  height: 30px;
}

#pacGirl {
  height: 150px;
}

h1 {
  color: var(--mainPink);
  margin: 0;
  font-family: "Press Start 2P", cursive;
  padding: 20px;
}

h2 {
  color: var(--mainPink);
  margin: 0;
  font-family: "Press Start 2P", cursive;
}

h3 {
  color: var(--mainPink);
  margin: 0;
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.scoreTile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 300px;
}
